
$color_pantone_2019 : #FF6D70;
$color_pantone_2018 : #654EA3;

// red :
$color_red_50:      #FFEBEE;
$color_red_100:     #FFCDD2;
$color_red_200:     #EF9A9A;
$color_red_300:     #E57373;
$color_red_400:     #EF5350;
$color_red_500:     #F44336;
$color_red_600:     #E53935;
$color_red_700:     #D32F2F;
$color_red_800:     #C62828;
$color_red_900:     #B71C1C;
$color_red_a100:    #FF8A80;
$color_red_a200:    #FF5252;
$color_red_a400:    #FF1744;
$color_red_a700:    #D50000;

// pink :
$color_pink_50:      #fce4ec;
$color_pink_100:     #f8bbd0;
$color_pink_200:     #f48fb1;
$color_pink_300:     #f06292;
$color_pink_400:     #ec407a;
$color_pink_500:     #e91e63;
$color_pink_600:     #d81b60;
$color_pink_700:     #c2185b;
$color_pink_800:     #ad1457;
$color_pink_900:     #880e4f;
$color_pink_a100:    #ff80ab;
$color_pink_a200:    #ff4081;
$color_pink_a400:    #f50057;
$color_pink_a700:    #c51162;

// purple :
$color_purple_50:      #f3e5f5;
$color_purple_100:     #e1bee7;
$color_purple_200:     #ce93d8;
$color_purple_300:     #ba68c8;
$color_purple_400:     #ab47bc;
$color_purple_500:     #9c27b0;
$color_purple_600:     #8e24aa;
$color_purple_700:     #7b1fa2;
$color_purple_800:     #6a1b9a;
$color_purple_900:     #4a148c;
$color_purple_a100:    #ea80fc;
$color_purple_a200:    #e040fb;
$color_purple_a400:    #d500f9;
$color_purple_a700:    #aa00ff;

// deep-purple :
$color_deep-purple_50:      #ede7f6;
$color_deep-purple_100:     #d1c4e9;
$color_deep-purple_200:     #b39ddb;
$color_deep-purple_300:     #9575cd;
$color_deep-purple_400:     #7e57c2;
$color_deep-purple_500:     #673ab7;
$color_deep-purple_600:     #5e35b1;
$color_deep-purple_700:     #512da8;
$color_deep-purple_800:     #4527a0;
$color_deep-purple_900:     #311b92;
$color_deep-purple_a100:    #b388ff;
$color_deep-purple_a200:    #7c4dff;
$color_deep-purple_a400:    #651fff;
$color_deep-purple_a700:    #6200ea;

// indigo :
$color_indigo_50:      #e8eaf6;
$color_indigo_100:     #c5cae9;
$color_indigo_200:     #9fa8da;
$color_indigo_300:     #7986cb;
$color_indigo_400:     #5c6bc0;
$color_indigo_500:     #3f51b5;
$color_indigo_600:     #3949ab;
$color_indigo_700:     #303f9f;
$color_indigo_800:     #283593;
$color_indigo_900:     #1a237e;
$color_indigo_a100:    #8c9eff;
$color_indigo_a200:    #536dfe;
$color_indigo_a400:    #3d5afe;
$color_indigo_a700:    #304ffe;

// blue :
$color_blue_50:      #E3F2FD;
$color_blue_100:     #BBDEFB;
$color_blue_200:     #90CAF9;
$color_blue_300:     #64B5F6;
$color_blue_400:     #42A5F5;
$color_blue_500:     #2196F3;
$color_blue_600:     #1E88E5;
$color_blue_700:     #1976D2;
$color_blue_800:     #1565C0;
$color_blue_900:     #0D47A1;
$color_blue_a100:    #82B1FF;
$color_blue_a200:    #448AFF;
$color_blue_a400:    #2979FF;
$color_blue_a700:    #2962FF;

// light blue :
$color_light-blue_50:      #e1f5fe;
$color_light-blue_100:     #b3e5fc;
$color_light-blue_200:     #81d4fa;
$color_light-blue_300:     #4fc3f7;
$color_light-blue_400:     #29b6f6;
$color_light-blue_500:     #03a9f4;
$color_light-blue_600:     #039be5;
$color_light-blue_700:     #0288d1;
$color_light-blue_800:     #0277bd;
$color_light-blue_900:     #01579b;
$color_light-blue_a100:    #80d8ff;
$color_light-blue_a200:    #40c4ff;
$color_light-blue_a400:    #00b0ff;
$color_light-blue_a700:    #0091ea;

// cyan :
$color_cyan_50:      #e0f7fa;
$color_cyan_100:     #b2ebf2;
$color_cyan_200:     #80deea;
$color_cyan_300:     #4dd0e1;
$color_cyan_400:     #26c6da;
$color_cyan_500:     #00bcd4;
$color_cyan_600:     #00acc1;
$color_cyan_700:     #0097a7;
$color_cyan_800:     #00838f;
$color_cyan_900:     #006064;
$color_cyan_a100:    #84ffff;
$color_cyan_a200:    #18ffff;
$color_cyan_a400:    #00e5ff;
$color_cyan_a700:    #00b8d4;

// teal :
$color_teal_50:      #e0f2f1;
$color_teal_100:     #b2dfdb;
$color_teal_200:     #80cbc4;
$color_teal_300:     #4db6ac;
$color_teal_400:     #26a69a;
$color_teal_500:     #009688;
$color_teal_600:     #00897b;
$color_teal_700:     #00796b;
$color_teal_800:     #00695c;
$color_teal_900:     #004d40;
$color_teal_a100:    #a7ffeb;
$color_teal_a200:    #64ffda;
$color_teal_a400:    #1de9b6;
$color_teal_a700:    #00bfa5;

// green :
$color_green_50:      #E8F5E9;
$color_green_100:     #C8E6C9;
$color_green_200:     #A5D6A7;
$color_green_300:     #81C784;
$color_green_400:     #66BB6A;
$color_green_500:     #4CAF50;
$color_green_600:     #43A047;
$color_green_700:     #388E3C;
$color_green_800:     #2E7D32;
$color_green_900:     #1B5E20;
$color_green_a100:    #B9F6CA;
$color_green_a200:    #69F0AE;
$color_green_a400:    #00E676;
$color_green_a700:    #00C853;

// light green :
$color_light-green_50:      #f1f8e9;
$color_light-green_100:     #dcedc8;
$color_light-green_200:     #c5e1a5;
$color_light-green_300:     #aed581;
$color_light-green_400:     #9ccc65;
$color_light-green_500:     #8bc34a;
$color_light-green_600:     #7cb342;
$color_light-green_700:     #689f38;
$color_light-green_800:     #558b2f;
$color_light-green_900:     #33691e;
$color_light-green_a100:    #ccff90;
$color_light-green_a200:    #b2ff59;
$color_light-green_a400:    #76ff03;
$color_light-green_a700:    #64dd17;

// lime :
$color_lime_50:      #f9fbe7;
$color_lime_100:     #f0f4c3;
$color_lime_200:     #e6ee9c;
$color_lime_300:     #dce775;
$color_lime_400:     #d4e157;
$color_lime_500:     #cddc39;
$color_lime_600:     #c0ca33;
$color_lime_700:     #afb42b;
$color_lime_800:     #9e9d24;
$color_lime_900:     #827717;
$color_lime_a100:    #f4ff81;
$color_lime_a200:    #eeff41;
$color_lime_a400:    #c6ff00;
$color_lime_a700:    #aeea00;

// yellow :
$color_yellow_50:      #fffde7;
$color_yellow_100:     #fff9c4;
$color_yellow_200:     #fff59d;
$color_yellow_300:     #fff176;
$color_yellow_400:     #ffee58;
$color_yellow_500:     #ffeb3b;
$color_yellow_600:     #fdd835;
$color_yellow_700:     #fbc02d;
$color_yellow_800:     #f9a825;
$color_yellow_900:     #f57f17;
$color_yellow_a100:    #ffff8d;
$color_yellow_a200:    #ffff00;
$color_yellow_a400:    #ffea00;
$color_yellow_a700:    #ffd600;

// amber :
$color_amber_50:      #fff8e1;
$color_amber_100:     #ffecb3;
$color_amber_200:     #ffe082;
$color_amber_300:     #ffd54f;
$color_amber_400:     #ffca28;
$color_amber_500:     #ffc107;
$color_amber_600:     #ffb300;
$color_amber_700:     #ffa000;
$color_amber_800:     #ff8f00;
$color_amber_900:     #ff6f00;
$color_amber_a100:    #ffe57f;
$color_amber_a200:    #ffd740;
$color_amber_a400:    #ffc400;
$color_amber_a700:    #ffab00;

// orange :
$color_orange_50:      #fff3e0;
$color_orange_100:     #ffe0b2;
$color_orange_200:     #ffcc80;
$color_orange_300:     #ffb74d;
$color_orange_400:     #ffa726;
$color_orange_500:     #FF9800;
$color_orange_600:     #fb8c00;
$color_orange_700:     #f57c00;
$color_orange_800:     #ef6c00;
$color_orange_900:     #e65100;
$color_orange_a100:    #ffd180;
$color_orange_a200:    #ffab40;
$color_orange_a400:    #ff9100;
$color_orange_a700:    #ff6d00;

//deep-orange :
$color_deep-orange_50:      #fbe9e7;
$color_deep-orange_100:     #ffccbc;
$color_deep-orange_200:     #ffab91;
$color_deep-orange_300:     #ff8a65;
$color_deep-orange_400:     #ff7043;
$color_deep-orange_500:     #ff5722;
$color_deep-orange_600:     #f4511e;
$color_deep-orange_700:     #e64a19;
$color_deep-orange_800:     #d84315;
$color_deep-orange_900:     #bf360c;
$color_deep-orange_a100:    #ff9e80;
$color_deep-orange_a200:    #ff6e40;
$color_deep-orange_a400:    #ff3d00;
$color_deep-orange_a700:    #dd2c00;

// brown :
$color_brown_50:      #efebe9;
$color_brown_100:     #d7ccc8;
$color_brown_200:     #bcaaa4;
$color_brown_300:     #a1887f;
$color_brown_400:     #8d6e63;
$color_brown_500:     #795548;
$color_brown_600:     #6d4c41;
$color_brown_700:     #5d4037;
$color_brown_800:     #4e342e;
$color_brown_900:     #3e2723;

//blue-grey :
$color_blue-grey_50:      #eceff1;
$color_blue-grey_100:     #cfd8dc;
$color_blue-grey_200:     #b0bec5;
$color_blue-grey_300:     #90a4ae;
$color_blue-grey_400:     #78909c;
$color_blue-grey_500:     #607d8b;
$color_blue-grey_600:     #546e7a;
$color_blue-grey_700:     #455a64;
$color_blue-grey_800:     #37474f;
$color_blue-grey_900:     #263238;

// grey :
$color_grey_50:      #fafafa;
$color_grey_100:     #f5f5f5;
$color_grey_200:     #eeeeee;
$color_grey_300:     #e0e0e0;
$color_grey_400:     #bdbdbd;
$color_grey_500:     #9e9e9e;
$color_grey_600:     #757575;
$color_grey_700:     #616161;
$color_grey_800:     #424242;
$color_grey_900:     #212121;
